<!doctype html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <title>iTunes Blind Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="src/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="src/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="nav-container"></div>

    <div class="main-container">
      <section class="cover fullscreen image-bg overlay parallax">
        <div class="background-image-holder">
          <img alt="image" class="background-image" src="src/img/bg.jpg">
        </div>
        <div class="container v-align-transform">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h1 class="large uppercase mb16">itunes blind test</h1>
              <h5 class="uppercase mb0">do you know the songs of the moment?</h5>
            </div>
          </div>

        </div>

        <div class="align-bottom relative-xs text-center">
          <a class="btn blue btn-filled btn-lg mb32 mt-xs-40" href="{{ loginUrl }}">facebook connect</a>
        </div>
      </section>
    </div>
    <script src="src/js/jquery.min.js"></script>
    <script src="src/js/template.js"></script>
  </body>

</html>